<ul class="share-buttons">
	<li>Share on:</li>
	<li><a
	class="share-button share-button-facebook" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&p[title]={{ page.title }}">Facebook</a></li>
	<li><a
	class="share-button share-button-twitter" href="http://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}">Twitter</a></li>
	<li><a
	class="share-button share-button-googleplus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">Google+</a></li>
	<li><a
	class="share-button share-button-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.url }}">LinkedIn</a>	</li>
</ul>
