<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="top">
      <div class="box">
          <nav class="nav">
            <a class="pagename current" href="/">{{ site.name }}</a>
              <a href="{{ '/about/' | prepend: site.url }}">About</a>
              <a href="{{ '/work/' | prepend: site.url }}">Work</a>
              <a href="{{ '/archive/' | prepend: site.url }}">Archive</a>
          </nav>
      </div>
    </div>
    <div class="box">
      <div id="content">
      {{ content }}
      </div>
    </div>
    <footer>
      <center>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.name }}
      </center>
    </footer>
    {% include analytics.html %}
  </body>
</html>
