<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="top">
      <div class="box">
          <nav class="nav">
              <a class="pagename current" href="/">Tuan Anh</a>
              <a href="/archive">archive</a>
              <a href="/about">about</a>
              <a href="/books">books</a>
          </nav>
      </div>
    </div>
    <div class="box">
      <div id="content">
      {{ content }}
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
