---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
  	<div class="wrapper">
	    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	    <p class="post-meta">{% if page.author %} By <span itemprop="author" itemscope itemtype="http://schema.org/Person"><a class="author-link" href="mailto:{{ site.name }}" itemprop="name">{{ page.author }}</a></span>{% endif %} <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B %Y"}}</time></p>
	</div>
  </header>

  <div class="post-content article-body" itemprop="articleBody">
  	<div class="wrapper">
      {% if page.updated %}
      <p class="updated">Last updated on {{ page.updated | date: "%-d %B %Y" }}</p>
      {% endif %}
    	{{ content }}

      {% include share-buttons.html %}

      {% if page.comments %}
        {% include disqus.html %}
      {% endif %}
    </div>
  </div>  

</article>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.url }}" class="right arrow">&#8594;</a>
  {% endif %}
  <a href="#" class="top">Top</a>
</div>
